.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.footer {
    position: fixed;
    font-weight: bold;
    bottom: 10%;
    text-align: center;
  }