.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.robotBox {
  display: flex;
  justify-content: center;
}

.robot {
  width: 80%;
  height: 80%;
  position: relative;
  animation-name: robot;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.balloonBox {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  position: relative;
}

.balloon {
  width: 50%;
  height: 25%;
}

.welcomeText {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuBox {
  text-align: center;
  padding: 3px;
}

.menu {
  display: inline;
  margin: 0 5px;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  position: fixed;
  font-weight: bold;
  bottom: 5%;
  text-align: center;
  font-size: 10px;
}

@keyframes robot {
  0% { left: 0px; top: 0px; }
  100% { left: 10px; top: 0px; }
}

@media (max-width: 640px) { 
  .balloon {
    width: 70%;
    height: 25%;
  }

  .balloonBox {
    font-size: 10px;
  }

} 